@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "ThrohandW01-PenRoman";
  src: url("http://db.onlinewebfonts.com/t/b2fa2a4eb6f996bdab8e86031e224af9.ttf")
    format("truetype");
}

body {
  font-family: ThrohandW01-PenRoman;
}
